@font-face {
  font-family: "JejuHallasan";
  src: url("./static/JejuHallasan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #393b67;
  font-family: "JejuHallasan";
}

body {
  margin: 0;
  font-size: 30px;
}

h1 {
  font-family: "JejuHallasan";
  color: white;
}

p {
  font-family: "JejuHallasan";
  font-size: 16px;
}
